[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mazeinda"]
	path = mazeinda
	url = https://github.com/cran/mazeinda
	shallow = true
	registered = true
